* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth; 
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }

  h1 {
    font-size: 50px;
    font-family: 'Lora', serif;
  }

  h2 {
    font-size: 30px;
    font-family: 'Lora', serif;
  }

  a {
    text-decoration: none;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }

  .section {
    width: 50%;
    padding-left: 50px;
  }

  .photo-section {
    width: 50%;
    padding-left: 50px;
  }

  .my-photo {
    border-radius: 50px;
  }

  .footer-section {
    width: 33%;
    padding-left: 50px;
    padding-top: 30px;
    text-align: center;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .nav-list {
      flex-direction: column;
    }
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    text-decoration: none;
    color: #829985; 
    font-weight: bold;
  }

  .nav-link:hover {
    color: white;
    background-color: black;
  }

  .logo-img {
    width: 100px;
  }